*,
*::before,
*::after {
 box-sizing: border-box;
}

html {
 block-size: 100%;
}

.page {
 inline-size: 1200px;
 block-size: 100%;
 margin: auto;
 color: #fff;
 font-family: "Fira Sans Condensed", sans-serif;
 font-size: 18px;
 background-color: #1b1919;
 padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
 margin: 0;
 padding: 0;
}

ul,
ol {
 list-style: none;
}

.content {
 display: flex;
 justify-content: center;
 align-items: end;
 gap: 30px;
 max-width: 1140px;
}

.result__video-container {
 position: relative;
 width: 711px;
 height: 386px;
 margin-bottom: 16px;
}

.result__video {
 object-fit: cover;
 object-position: center;
 width: 100%;
}

.search-form {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

.search-form__fieldset {
 border: none;
 outline: none;
 display: inline-flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 5px;
 appearance: none;
}

.search-form__fieldset-title {
 color: #fff;
 font-family: "Fira Sans Condensed", sans-serif;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}

.search-form__label-text:hover {
 text-decoration-line: underline;
 cursor: pointer;
 text-underline-offset: 3px;
}

.visually-hidden {
 position: absolute;
 inline-size: 1px;
 block-size: 1px;
 overflow: hidden;
 clip: rect(0 0 0 0);
 clip-path: inset(50%);
 white-space: nowrap;
}

.search-form__textfield {
 color: #fff;
 font-family: "Fira Sans Condensed", sans-serif;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 background-color: Transparent;
 border: none;
 border-top: 1px solid white;
 border-bottom: 1px solid white;
 display: flex;
 position: relative;
 width: 225px;
 height: 27px;
 align-items: center;
 gap: 10px;
}

.search-form__textfield::placeholder {
 color: rgb(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
 outline: none;
}

.search-form__label:has(:focus-visible) {
 outline: 1px solid #ffffff;
}

.search-form__pseudo-checkbox {
 display: inline-block;
 width: 19px;
 height: 19px;
 border: 1px solid white;
 cursor: pointer;
 position: relative;
 vertical-align: bottom;
 top: -1px;
}

.search-form__pseudo-checkbox::before {
 position: absolute;
 content: "";
 display: block;
 width: 15px;
 height: 15px;
 background-color: #fff;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::before {
 opacity: 1;
}

.search-form__checkbox-list {
 display: flex;
 gap: 15px;
}

.button {
 color: #fff;
 text-align: center;
 font-family: "Fira Sans Condensed", sans-serif;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 cursor: pointer;
 background-color: Transparent;
 border: 1px solid white;
 height: 34px;
 outline: none;
}

.button:active {
 background: #545050;
}

.button:hover {
 text-decoration-line: underline;
}

.search-form__submit-button {
 position: relative;
 width: 194px;
 margin-top: 20px;
}

.search-form__submit-button:focus-visible {
 outline: 1px solid #ffffff;
 outline-offset: 1px;
}

.content__details {
 max-width: 100%;
 max-height: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 26px;
}

.title {
 color: #fff;
 font-family: Oswald, sans-serif;
 font-size: 75px;
 font-style: normal;
 font-weight: 700;
 line-height: 94%;
 text-transform: uppercase;
}

.content__accent {
 color: #545050;
}

.content__list {
 position: relative;
 width: 399px;
 height: 298px;
 overflow: auto;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.content__list-item:not(:last-child) {
 margin-bottom: 30px;
}

.content__card-link_current {
 background-color: #545050;
}

.content__card-link {
 display: block;
 text-decoration: none;
 color: #fff;
 margin: 1.5px;
 outline: none;
}

.content__card-link:focus-visible {
 outline: 1px solid #ffffff;
}

.content__card-link:hover {
 text-decoration-line: underline;
 text-underline-offset: 3px;
}

.content__video-card {
 display: flex;
 width: 394px;
 padding: 2px;
 align-items: flex-start;
}

.content__video-card-description-container {
 display: flex;
 flex-direction: column;
 gap: 6px;
 width: 394px;
}

.content__video-card-title {
 font-family: Oswald, sans-serif;
 font-size: 30px;
 font-style: normal;
 font-weight: 700;
 line-height: 100%;
 text-transform: uppercase;
}

.content__video-card-description {
 color: #fff;
 font-family: "Fira Sans Condensed", sans-serif;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 16.2px;
}

.content__video-card-thumbnail {
 display: block;
 width: 194px;
 height: 103px;
 object-fit: cover;
 object-position: center;
}

.more-button {
 position: relative;
 width: 394px;
}

.more-button:focus-visible {
 outline: 1px solid #ffffff;
 outline-offset: 1px;
 margin: 1.5px;
}
